# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- listing commonly libraries by data scientists 
- Make a table showing open scorce data science tools 
- Convert 200 miniuets to hours

Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
    1. Numpy
    2. Pandas 
    3. Numpy

| Data Science Tools | 
| --- |
| Rstudio |
| ApacheHadoop |
| RapidMine |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
MohamedAhmed Elbireir